h1 {
  font-size: x-large;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: aquamarine;
  color: blue;
}

.navbar-container {
  position: sticky;
  top: 0;
}

.navbar nav {
  display: flex;
  gap: 2rem;
}

.about-page {
  width: 100vw;
  height: 100vh;
}

.about-text {
  margin: 20rem;
  box-sizing: border-box;
  /* background-color: aqua; */
}


.faqs-page {
  /* height: 100vh; */
  /* background-color: bisque; */
  /* margin-left: 5rem; */
  box-sizing: border-box;
  /* padding: 5rem; */
}

.landing-page {
  height: 100vh;
}

.active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}