.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.img-container {
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: solid indigo 2px
}

.profile-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}
