.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.img-container {
  margin: 1rem;
  height: 120px;
  width: 100px;
  border-radius: 50%;
  object-fit: contain;
}

.profile-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}
