.chat-container {
  position: fixed;
  padding: 0px 10px;
  width: 25vw;
  height: 80vh;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: flex-start;
  background-color: rgb(232, 232, 232, 0.5);
  /* border: 1px solid #e6e6e6; */
  /* border-radius: 8px; */
  backdrop-filter: blur(20px);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f8f8ff; */
  border-bottom: 1px solid #8c8c8c;
}

.chat-title {
  font-weight: bold;
  margin-right: auto;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  height: 90%;

}

.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  width: 80%;
  word-break: break-word;
}

.input-container {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input-container input {
  flex: 1;
  height: 100%;

}

@media (max-width: 768px) {
  .chat-container {
    width: 100%;
    height: 90vh;
    left: 0;
    overflow-y: auto;
  }
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user {
  display: flex;
  justify-content: row;
}