.about-page {
  height: calc(100vh - 5rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  margin: 2rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
}
