.faqs-page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.faq {
  margin: 0.9rem;
  display: flex;
  align-items: center;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
